<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ratiug.feature_registration">

    <application>
        <activity android:name=".RegistrationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >

        </activity>
    </application>
</manifest>